@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown h2 {
  font-size: 1.4rem;
  margin: 1.5rem 0;
}

.markdown h3 {
  font-size: 1.3rem;
  margin: 1rem 0;
}

.markdown img {
  width: 100%;
  object-fit: cover;
  margin: 1.5rem auto;
}

.markdown p {
  margin: 7px;
  font-weight: 400;
  line-height: 1.6rem;
}

.markdown a {
  color: #0070f3;
  text-decoration: none;
}
